/*==============
	  Nav
===============*/
nav {
  /*background: -webkit-gradient(linear, left top, right top, from(yellow), to(red));*/
  background: linear-gradient(to right, ghostwhite, lightblue);
  opacity: 0.8;
}

nav > div > ul > li{
	padding-right: 15px;
}
/*=================
First Div aka Home
===================*/
.homeDiv{
	background: url(../images/moon.png);
	background-size: cover;
  border: 1px solid blue;
}
.homeDiv > h1, h2{
	color: #FFF;
	font-family: 'Righteous', cursive;
	font-weight: 400;
	text-shadow: 2px 1px #5F6D72;
	text-transform: uppercase;
	color: white;
	/*text-align: center;*/
}
.homeDiv > h1{
	font-size: 72px;
}
.homeDiv > h2{
	font-size: 56px;
}
/*======================
	Projects Div
=======================*/
.projects{
	text-align: center;
}
.projects > .row > #clear > .col > h3{
	display: flex;
}
.projects > .row > #clear > .col > h3 > img{
	height: 40px;
	width: 40px;
}
.projects > h1 > img{
	height: 40px;
	width: 40px;
}
/*========================
	Contact Div
========================*/
.images{
	/*display: flex;
	align-items: center;
	justify-content: space-around;*/
	text-align: center;
}
.images > .row > .col > img{
	height: 100px;
}
.images > .row > .col > h3{
	position: relative;
	right: 160px;
}
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.aboutme{
  background-color: blue;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.masthead {
  /* Layout declarations */
  /*background: url("https://images.unsplash.com/photo-1446797376004-9352dfc9f789?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375") no-repeat fixed center;*/
  background: url(../images/probackground.png) no-repeat fixed center;
  background-size: cover;
  padding: 1em 2em;
  border-top: 8px solid #EDEDED;
  text-align: center;
  font-size: 28px;
}

section {
  margin-top: 3em;
  color: white;
}

/* Gradient that runs through the body */
.gradient {
  padding: 10em;
  /* can be treated like a fallback */
  background-color: #000000;;
  /* will be "on top", if browser supports it */
  background-image: linear-gradient(#000000, #262626);
}
section p {
  /* Typography declarations */
  line-height: 1.3em;
}

/* This class is included in the last p tag of each section to create more space */
.space-maker {
  /* Layout declarations */
  margin-bottom: 3em;
}

/* FOOTER */
.content-footer {
  /* Layout declarations */
  color: black;
  padding: 5em;
  border-bottom: 8px solid #EDEDED;
}
.content-footer > ul > li > a > img{
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.content-footer > p {
  /* Layout declarations */
  line-height: 1.3em;
  text-align: center;
  /* Typography declarations */
  font-size: 2em;
}

.social {
  /* Layout declarations */
  text-align: center;
  padding: 0;
}

.social > li {
  /* Layout declarations */
  display: inline-block;
  line-height: 1.3em;
  margin-right: 2em;
  /* Typography declarations */
  font-size: 2em;
}

a {
  /* Typography declarations */
  color: #EDEDED;
  text-decoration: none;
}

a:hover {
  /* Layout declarations */
  color: #262626;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social li:last-child {
  /* Layout declarations */
  margin-right: 0;
}

/* Responsive design */
@media only screen and (max-width: 500px) {
  /* HEADER */
  .masthead {
    padding: 1em;
  }
  
  /* BODY */

  
  section p {
    font-size: 1rem;
  }
  
  /* FOOTER */
  .content-footer {
    padding: 4em;
  }
  
  .social > li {
  /* Layout declarations */
  display: block;
  margin-right: 0;
  }
  
  a {
    line-height: 3em;
  }
  
  .content-footer p a {
    line-height: 0;
  } 
}

  /* FOOTER */
@media only screen and (max-width: 344px) {
  .content-footer p a {
    line-height: 3em;
  }
}
